<h2>Title</h2>
<div id="title_of_memo">
  <%= CGI.escape_html(@memo_data['title']) %>
</div>
<h2>Memo</h2>
<div id="content_of_memo">
  <%= CGI.escape_html(@memo_data['text']) %>
</div>
<div class="delete_button">
  <form method="post" action="/memo/<%= @memo_data['id']%>"> <input type="hidden" name="id" value="<%= @memo_data['id']%>"> <input type="hidden" name="_method" value="delete"> <button type="submit">
    <i class="fas fa-trash-alt"></i>
    </button> </form>
</div>
<div class="edit_button">
  <form method="get" action="/memo/<%= @memo_data['id']%>/edit"> <button type="submit">
    <i class="fas fa-edit"></i>
    </button> </form>
</div>

<div class="home_button">
  <form method="get" action="/memo"> <button type="submit">
    <i class="fas fa-home"></i>
    </button> </form>
</div>